.conteiner{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100vw;
    height: 80vh;
    grid-template-rows: auto auto;
    row-gap: 5vh;
}


p{
    color: #9DA3AE;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.div-contatos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100vw;
}

.imgs{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-rows: auto auto auto;
    row-gap: 1.2vh;
}

h4{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: #FFF;
    font-weight: 500;
}

.imgs img{
    width: 91px;
    height: 91px;
}

.imgs a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    color: #9DA3AE;
    font-weight: 500;
}

.imgs a:hover{
    text-decoration: underline;

}